.container {
  padding: 20px;
}

.description {
}

.description ol {
  margin: 0;
  padding: 0;
}

.description ol li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px 0;
}
